In [25]:
import pandas as pd
df = pd.read_csv("../data/raw/HTRU_2.csv")
df.shape

(17897, 9)

In [9]:
df.tail

<bound method NDFrame.tail of          140.5625  55.68378214  -0.234571412  -0.699648398  3.199832776  \
0      102.507812    58.882430      0.465318     -0.515088     1.677258
1      103.015625    39.341649      0.323328      1.051164     3.121237
2      136.750000    57.178449     -0.068415     -0.636238     3.642977
3       88.726562    40.672225      0.600866      1.123492     1.178930
4       93.570312    46.698114      0.531905      0.416721     1.636288
...           ...          ...           ...           ...          ...
17892  136.429688    59.847421     -0.187846     -0.738123     1.296823
17893  122.554688    49.485605      0.127978      0.323061    16.409699
17894  119.335938    59.935939      0.159363     -0.743025    21.430602
17895  114.507812    53.902400      0.201161     -0.024789     1.946488
17896   57.062500    85.797340      1.406391      0.089520   188.306020

       19.11042633  7.975531794  74.24222492  0
0        14.860146    10.576487   127.393580  0
1        21.744669     7.735822    63.171909  0
2        20.959280     6.896499    53.593661  0
3        11.468720    14.269573   252.567306  0
4        14.545074    10.621748   131.394004  0
...            ...          ...          ... ..
17892    12.166062    15.450260   285.931022  0
17893    44.626893     2.945244     8.297092  0
17894    58.872000     2.499517     4.595173  0
17895    13.381731    10.007967   134.238910  0
17896    64.712562    -1.597527     1.429475  0

[17897 rows x 9 columns]>

In [10]:
df.columns

Index(['140.5625', '55.68378214', '-0.234571412', '-0.699648398',
       '3.199832776', '19.11042633', '7.975531794', '74.24222492', '0'],
      dtype='str')

In [11]:
df.dtypes

140.5625        float64
55.68378214     float64
-0.234571412    float64
-0.699648398    float64
3.199832776     float64
19.11042633     float64
7.975531794     float64
74.24222492     float64
0                 int64
dtype: object

In [12]:
df.describe()

,140.5625,55.68378214,-0.234571412,-0.699648398,3.199832776,19.11042633,7.975531794,74.24222492,0
count,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.00000
mean,111.078321,46.549021,0.477897,1.770417,12.614926,26.326918,8.303574,104.859419,0.09158
std,25.652705,6.843040,1.064056,6.168058,29.473637,19.471042,4.506217,106.517270,0.28844
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976,0.00000
25%,100.929688,42.375426,0.027108,-0.188528,1.923077,14.437330,5.781485,34.957119,0.00000
50%,115.078125,46.946435,0.223241,0.198736,2.801839,18.459977,8.433872,83.068996,0.00000
75%,127.085938,51.022887,0.473349,0.928206,5.464883,28.428152,10.702973,139.310905,0.00000
max,192.617188,98.778911,8.069522,68.101622,223.392141,110.642211,34.539844,1191.000837,1.00000

In [15]:
df.columns = [
    "mean_ip",
    "std_ip",
    "kurtosis_ip",
    "skewness_ip",
    "mean_dm",
    "std_dm",
    "kurtosis_dm",
    "skewness_dm",
    "target"
]

In [16]:
df.head()

,mean_ip,std_ip,kurtosis_ip,skewness_ip,mean_dm,std_dm,kurtosis_dm,skewness_dm,target
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,0

In [17]:
df[df["target"] == 1]

,mean_ip,std_ip,kurtosis_ip,skewness_ip,mean_dm,std_dm,kurtosis_dm,skewness_dm,target
18,99.367188,41.572202,1.547197,4.154106,27.555184,61.719016,2.208808,3.662680,1
41,120.554688,45.549905,0.282924,0.419909,1.358696,13.079034,13.312141,212.597029,1
60,27.765625,28.666042,5.770087,37.419009,73.112876,62.070220,1.268206,1.082920,1
91,23.625000,29.948654,5.688038,35.987172,146.568562,82.394624,-0.274902,-1.121848,1
92,94.585938,35.779823,1.187309,3.687469,6.071070,29.760400,5.318767,28.698048,1
...,...,...,...,...,...,...,...,...,...
17514,89.867188,47.482295,1.591325,2.505057,0.763378,12.393561,17.940745,333.902630,1
17528,27.039062,33.754722,4.779124,26.255357,129.863712,78.815440,-0.348492,-0.893791,1
17557,77.070312,39.000638,1.884421,6.372178,38.517559,65.741059,1.589513,1.285346,1
17641,28.375000,27.649311,6.377273,45.944048,141.860368,82.893017,-0.477222,-1.067880,1
17875,111.765625,52.943585,0.671724,0.383594,149.843646,97.926948,-0.696153,-1.260403,1

In [19]:
df["target"].value_counts()

target
0    16258
1     1639
Name: count, dtype: int64

In [20]:
df["mean_ip"]

0        102.507812
1        103.015625
2        136.750000
3         88.726562
4         93.570312
            ...
17892    136.429688
17893    122.554688
17894    119.335938
17895    114.507812
17896     57.062500
Name: mean_ip, Length: 17897, dtype: float64

In [21]:
df.describe()

,mean_ip,std_ip,kurtosis_ip,skewness_ip,mean_dm,std_dm,kurtosis_dm,skewness_dm,target
count,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.00000
mean,111.078321,46.549021,0.477897,1.770417,12.614926,26.326918,8.303574,104.859419,0.09158
std,25.652705,6.843040,1.064056,6.168058,29.473637,19.471042,4.506217,106.517270,0.28844
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976,0.00000
25%,100.929688,42.375426,0.027108,-0.188528,1.923077,14.437330,5.781485,34.957119,0.00000
50%,115.078125,46.946435,0.223241,0.198736,2.801839,18.459977,8.433872,83.068996,0.00000
75%,127.085938,51.022887,0.473349,0.928206,5.464883,28.428152,10.702973,139.310905,0.00000
max,192.617188,98.778911,8.069522,68.101622,223.392141,110.642211,34.539844,1191.000837,1.00000

In [22]:
df.isnull().sum()

mean_ip        0
std_ip         0
kurtosis_ip    0
skewness_ip    0
mean_dm        0
std_dm         0
kurtosis_dm    0
skewness_dm    0
target         0
dtype: int64